/*********
 * Reset *
 *********/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/**********
 * Navbar *
 **********/
header {
    background-color: #1E2327;
    padding-top: 0.750em;
    padding-bottom: 0.750em;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 20%;
    padding-right: 20%;
}

#navbar-logo {
    color: #C4E5FF;
    font-size: 2.500em;
    text-decoration: none;
}

#navbar ul {
    list-style-type: none;
}

#navbar li {
    display: inline-block;
}

#navbar li a {
    color: #C4E5FF;
    font-size: 1.500em;
    padding: 0.000em;
    text-decoration: none;
}
