/*********
 * Reset *
 *********/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #F7FCFF;
}

a {
    color: #83BBE6;
    text-decoration: none
}

/*****************
 * Header/Footer *
 *****************/

/* Colors:
 * #4078c0
 * #83bbe6
 * #C4E5FF
 */

header, footer {
    background-color: #1E2327;
    padding-top: 0.750em;
    padding-bottom: 0.750em;
    width: 100%;
}

header {
    margin-bottom: 2.000em;
}

footer {
    position: absolute;
    bottom: 0;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    width: 50.000em;
}

#navbar-logo {
    color: #83BBE6;
    font-size: 2.500em;
}

#navbar ul {
    list-style-type: none;
}

#navbar li {
    display: inline-block;
    font-size: 1.500em;
    padding-left: 1.000em;
    padding-bottom: 0.125em;
}

.github-logo {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-top;
}

#footbar p {
    color: #F7FCFF;
    display: inline-block;
    font-size: 1.000em;
}

/********
 * Main *
 ********/
#content {
    max-width: 50.000em;
    margin: auto;
}

article 
